Django==3.2
djangorestframework==3.15.1
dj-rest-auth==4.0.1
django-allauth==0.54.0
django-cors-headers==3.11.0
django-environ==0.9.0
django-filter==21.1
django-inlinecss==0.3.0
django-naomi==0.8
fcm-django==2.2.1
firebase-admin==6.9.0
pillow==10.4.0
psycopg2-binary==2.9.6
pyfcm==2.1.0
PyJWT==2.9.0
PyMySQL==1.1.2
python3-openid==3.2.0
requests==2.32.4
swapper==1.4.0
